.white {
	color: white;
}

.small {
	font-size: 13px;
	font-weight: 400;

	line-height: 24px;
}

.medium {
	font-size: 15px;
	font-weight: 400;

	line-height: 24px;
}

.large {
	font-size: 17px;
	font-weight: 400;

	line-height: 29px;
}
