.txtArea {
	width: 100%;
	min-height: 36px;
	padding: 7px 15px;

	border: none;
	border-radius: 5px;
	outline-color: var(--primary);
	background: white;
	box-shadow: 0 4px 4px rgb(var(--black) 0.05);

	font-family: inherit;
	font-size: 16px;
}

.txtArea::placeholder {
	color: var(--gray);
}
