.advBlock {
	font-size: 16px;
	line-height: 22px;
	grid-column: middle / end;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: bold;
}

.advantages {
	margin-bottom: 20px;
	padding-left: 15px;

	border-left: 2px solid var(--green-light-two);
}

.disadvantages {
	padding-left: 15px;

	border-left: 2px solid var(--red);
}