.title {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.vacancies {
	display: grid;
	align-items: baseline;

	text-align: center;
	justify-items: left;
	gap: 21px;
	grid-template-columns: auto 1fr;
}

.seoTxtWrap {
	margin: 30px 0;
}

.skillTags {
	margin: 22px 0;
}

.skillTags > div {
	margin-right: 10px;
}

.skillTags > div:last-child {
	margin-right: 0;
}

.seoTxt h1 {
	margin: 10px 0;

	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
}

.seoTxt h2 {
	margin: 10px 0;

	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.seoTxt h3 {
	margin: 10px 0;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
