.vacancies {
	display: grid;

	margin-bottom: 47px;
	grid-template-columns: 1fr 3fr;

	gap: 30px;
}

.count {
	padding: 32px 0;

	text-align: center;
}

.countValue {
	margin-top: 8px;

	color: var(--primary);

	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 49px;
}

.salary {
	display: grid;
	align-items: center;

	text-align: center;
	grid-template-columns: repeat(3, 1fr);
}

.title {
	text-align: center;

	color: var(--black);

	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	line-height: 27px;
}

.salary .iconRate {
	margin: 0 5px;
}

.filled circle {
	fill: var(--red);
}

@media screen and (max-width: 1200px) {
	.vacancies {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	.salary {
		grid-template-columns: 1fr;

		margin-bottom: 30px;
	}
}
