.active {
	color: var(--primary);

	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.iconWrap {
	position: relative;

	padding-left: 43px;

	cursor: pointer;
}

.icon {
	position: absolute;
	top: 6px;
	left: 13px;
}

@media screen and (max-width: 1320px) {
	.iconWrap {
		display: block;
	}
}
