.secLevel {
	position: relative;

	margin-bottom: 10px;

	cursor: pointer;
	text-align: left;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 14px;
	line-height: 16px;
}

.secLevel::before {
	position: absolute;
	top: 5px;
	left: -18px;

	width: 7px;
	height: 7px;

	content: "";

	border-radius: 50%;
	background-color: var(--primary);
}

.secLevelBlock {
	margin-top: 20px;
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secLevBlock {
	display: none;
}

.secLevBlockOpened {
	display: block;
}

.secLevBlockOpened:last-child {
	margin-bottom: 20px;
}
